<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>CloudApp</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.QSCloudApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CloudApp Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>QSActions</key>
	<dict>
		<key>QSCloudCopyLinkAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>copyLinkForCloudItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>DefaultBookmarkIcon</string>
			<key>name</key>
			<string>Copy Link</string>
			<key>precedence</key>
			<real>2.0</real>
		</dict>
		<key>QSCloudDeleteItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>deleteItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>TrashIcon</string>
			<key>name</key>
			<string>Delete</string>
			<key>precedence</key>
			<real>1.0</real>
		</dict>
		<key>QSCloudDisablePrivacyAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>disablePrivacyforItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>name</key>
			<string>Make Item Public</string>
			<key>precedence</key>
			<integer>1</integer>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSCloudDownloadFileAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>downloadFile:toFolder:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>DriveIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSFileNamesPboardType</string>
			</array>
			<key>name</key>
			<string>Download To Folder…</string>
			<key>precedence</key>
			<real>1.5</real>
		</dict>
		<key>QSCloudEnablePrivacyAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>enablePrivacyforItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>name</key>
			<string>Make Item Private</string>
			<key>precedence</key>
			<integer>1</integer>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSCloudGetLinkAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>getLinkForCloudItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>DefaultBookmarkIcon</string>
			<key>name</key>
			<string>Get Link</string>
			<key>precedence</key>
			<real>1.2</real>
		</dict>
		<key>QSCloudRenameItemAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>renameItem:to:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Rename…</string>
			<key>precedence</key>
			<real>1.5</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSCloudTogglePrivacyAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>togglePrivacyforItem:</string>
			<key>directTypes</key>
			<array>
				<string>QSCloudFileType</string>
			</array>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>name</key>
			<string>Toggle Privacy</string>
			<key>precedence</key>
			<integer>1</integer>
		</dict>
		<key>QSCloudUploadFileAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSCloudAppActionProvider</string>
			<key>actionSelector</key>
			<string>uploadFile:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>name</key>
			<string>Upload to CloudApp</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>QSCloudAppCopyLinks</key>
		<true/>
		<key>QSCloudAppItemLimit</key>
		<integer>10</integer>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Files</string>
			<string>Web</string>
			<string>Images</string>
		</array>
		<key>description</key>
		<string>Upload, download, and manage CloudApp files</string>
		<key>extendedDescription</key>
		<string>&lt;h1&gt;CloudApp Plugin&lt;/h1&gt;
&lt;p&gt;This plugin allows you to upload (or "drop") files to CloudApp, download previously dropped files, and manage dropped files.&lt;/p&gt;
&lt;h2&gt;Preferences&lt;/h2&gt;
&lt;dl&gt;
&lt;dt&gt;Index up to &lt;code&gt;N&lt;/code&gt; recent items&lt;/dt&gt;
&lt;dd&gt;Controls the number of items added to the catalog from CloudApp.&lt;/dd&gt;
&lt;dt&gt;Copy Link After Upload&lt;/dt&gt;
&lt;dd&gt;When uploading a file, enabling this will automatically copy it's public link to the clipboard.&lt;/dd&gt;
&lt;/dl&gt;
&lt;p&gt;Number of items to index, and whether or not to copy link on upload. Not yet implemented.&lt;/p&gt;
&lt;h2&gt;Catalog&lt;/h2&gt;
&lt;p&gt;Your dropped items can be added to the catalog using the "CloudApp Files" catalog entry. It's enabled by default. You can also access dropped items quickly by selecting &lt;code&gt;Cloud.app&lt;/code&gt; and hitting → or /.&lt;/p&gt;
&lt;h2&gt;Actions&lt;/h2&gt;
&lt;dl&gt;
&lt;dt&gt;Copy Link&lt;/dt&gt;
&lt;dd&gt;Copy the selected item's link to the clipboard. This is usually not necessary. The "text" associated with each item is its link, so built-in Quicksilver actions like Copy, Paste, Type Text, Large Type, etc. should all work directly on the item.&lt;/dd&gt;
&lt;dt&gt;Get Link&lt;/dt&gt;
&lt;dd&gt;Displays the link as a URL in Quicksilver's first pane. From there, you can run further actions, but this is usually not necessary. See "Copy Link" above.&lt;/dd&gt;
&lt;dt&gt;Rename…&lt;/dt&gt;
&lt;dd&gt;Rename a previously dropped item.&lt;/dd&gt;
&lt;dt&gt;Download to Folder…&lt;/dt&gt;
&lt;dd&gt;Save a previously dropped item to a folder on your local disk. Works with multiple selections. The resulting local file will be selected in Quicksilver.&lt;/dd&gt;
&lt;dt&gt;Delete&lt;/dt&gt;
&lt;dd&gt;Move a dropped item to the Trash on CloudApp's servers. Items in the Trash are purged automatically after a preset number of days. Works with multiple selections.&lt;/dd&gt;
&lt;dt&gt;Make Item Public&lt;/dt&gt;
&lt;dd&gt;Set a dropped item's privacy to "Public". Works with multiple selections if they currently share the same privacy setting.&lt;/dd&gt;
&lt;dt&gt;Make Item Private&lt;/dt&gt;
&lt;dd&gt;Set a dropped item's privacy to "Private". Works with multiple selections if they currently share the same privacy setting.&lt;/dd&gt;
&lt;dt&gt;Toggle Privacy&lt;/dt&gt;
&lt;dd&gt;Reverse the current privacy setting for a dropped item. Works with multiple selections.&lt;/dd&gt;
&lt;dt&gt;Upload to CloudApp&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;Upload a local file to CloudApp. Works with multiple selections. Progress can be monitored in Quicksilver's Task Viewer (⌘K).&lt;/p&gt;
&lt;p&gt;By default, a link to the item will be copied to the clipboard on success. If multiple files are uploaded, the clipboard will contain a link for the last one to finish.&lt;/p&gt;
&lt;p&gt;This action doesn't work with folders. To upload a folder, compress it first with the File Compression Plugin, or just drag it to the CloudApp menubar icon.&lt;/p&gt;
&lt;/dd&gt;
&lt;/dl&gt;
&lt;h2&gt;Authentication&lt;/h2&gt;
&lt;p&gt;The plug-in assumes you have &lt;code&gt;Cloud.app&lt;/code&gt; installed and attempts to re-use the existing credentials in your Keychain. If you need to create the appropriate item in your Keychain manually for some reason, it should be named "CloudApp".&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.linebreak.CloudAppMacOSX</string>
		<key>relatedBundles</key>
		<array>
			<string>com.linebreak.CloudAppMacOSX</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetQSCloudAppFiles</string>
			<key>icon</key>
			<string>com.linebreak.CloudAppMacOSX</string>
			<key>name</key>
			<string>CloudApp Files</string>
			<key>source</key>
			<string>QSCloudAppSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSCloudAppActionProvider</key>
			<string>QSCloudAppActionProvider</string>
		</dict>
		<key>QSApplicationActionsTemplate</key>
		<dict>
			<key>com.domain.application</key>
			<dict>
				<key>QSCloudAppExampleCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCloudAppActionProvider</string>
					<key>command</key>
					<string>QSCloudAppExampleCommand</string>
					<key>name</key>
					<string>Application Action Example</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.linebreak.CloudAppMacOSX</key>
			<string>QSCloudAppSource</string>
		</dict>
		<key>QSCommandsTemplate</key>
		<dict>
			<key>QSCloudAppExampleCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>QSObjCSendMessageAction</string>
					<key>directArchive</key>
					<dict>
						<key>data</key>
						<dict>
							<key>qs.action</key>
							<dict>
								<key>actionClass</key>
								<string>QSCloudAppActionProvider</string>
								<key>actionSelector</key>
								<string>someSelector</string>
								<key>icon</key>
								<string>defaultAction</string>
								<key>name</key>
								<string>Do Something</string>
							</dict>
						</dict>
					</dict>
					<key>directID</key>
					<string>QSCloudAppInternalCommand</string>
				</dict>
			</dict>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSCloudFileType</key>
			<string>QSCloudAppSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSCloudAppSource</key>
			<string>QSCloudAppSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSCloudPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSCloudPrefPane</string>
				<key>description</key>
				<string>Control the CloudApp plugin's behavior</string>
				<key>icon</key>
				<string>com.linebreak.CloudAppMacOSX</string>
				<key>name</key>
				<string>CloudApp</string>
			</dict>
		</dict>
		<key>QSProxiesTemplate</key>
		<dict>
			<key>QSCloudAppSomeProxy</key>
			<dict>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>name</key>
				<string>QSCloudApp Proxy</string>
				<key>providerClass</key>
				<string>QSCloudAppSource</string>
				<key>types</key>
				<array>
					<string>QSQSCloudAppType</string>
				</array>
			</dict>
		</dict>
		<key>QSTriggerEventsTemplate</key>
		<dict>
			<key>QSCloudAppSomeEvent</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>Do something in response to this event</string>
				<key>provider</key>
				<string>QSCloudAppSource</string>
			</dict>
		</dict>
		<key>QSTriggerSetsTemplates</key>
		<dict>
			<key>QSCloudAppTriggers</key>
			<dict>
				<key>icon</key>
				<string>KEXT</string>
				<key>name</key>
				<string>QSCloudApp</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSCloudFileType</key>
			<dict>
				<key>name</key>
				<string>Cloud File</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.qsapp.Another.PlugIn</string>
				<key>name</key>
				<string>Another Plug-in</string>
			</dict>
		</array>
	</dict>
	<key>QSTriggerAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSCloudAppTrigger</string>
			<key>command</key>
			<string>QSCloudAppExampleCommand</string>
			<key>defaults</key>
			<dict>
				<key>characters</key>
				<string>x</string>
				<key>keyCode</key>
				<integer>124</integer>
				<key>modifiers</key>
				<integer>9961768</integer>
				<key>type</key>
				<string>QSHotKeyTrigger</string>
			</dict>
			<key>name</key>
			<string>Example Trigger</string>
			<key>set</key>
			<string>QSCloudApp</string>
		</dict>
	</array>
</dict>
</plist>
